files=(
  "flake/devshell.nix"
  "flake/nixpkgs.nix"
  "flake/treefmt.nix"
)

watch_file "${files[@]}"

use flake
if has sops; then
  export TF_ENCRYPTION=$(sops --extract '["tofu"]' -d infra/secrets.yaml)
fi
